:root{
    --main-border:.5rem #028090;
    --background-light:#F0F3BD;
    --background-med:#02C39A;
    --background-dark:#05668D;


}


body {
    text-decoration:none;        
    font-family:arial;
    font-size:1rem;
    color:black;
    margin:auto;
    text-align:center;
    box-sizing:border-box;
    background-color:var(--background-light);
}

#mainTitle{

    display:block;
    margin:auto;
    width:50%;
    font-size:3rem;
    background-color:var(--background-dark);
    color:white;
    padding:1rem;
}

#startButton, #nextQuestion {
    display:block;
    border:var(--main-border);
    padding:1rem;
    font-weight:bold;
    background-color:aliceblue;
    margin:auto;

}



